@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat";
  margin: 0 auto;
  padding: 0 20px;
  width: 1440px;
  left: 1516px;
  top: -585px;
  border-radius: 0px;
}

html, body {
  width: 1440px;
  background-color: #141414;
}

body.lock {
  overflow: hidden;
}

/* Шапка сайта */
.header .container {
  background-image: url("/assets/header/bg.png");
  position: absolute;
  width: 1440px;
  height: 952px;
  left: 0px;
  top: 0px;
  color: #E4E4E4;
}
.header__menu {
  width: 100%;
  padding-top: 82px;
  display: flex;
  justify-content: space-around;
}
.header__menu1 {
  position: fixed;
  width: 371px;
  height: 717.46px;
  right: -100%;
  top: 0;
  text-align: center;
  background: #E4E4E4;
  transition: right 0.5s ease;
  overflow: auto;
}
.header__menu1-logo {
  padding-bottom: 27px;
  padding-left: 20px;
  transform: translateX(0px);
}
.header__menu1-list li {
  position: relative;
  top: 0;
  right: -76px;
  margin-bottom: 47px;
  width: 208px;
  height: 59px;
  padding-top: 13px;
  border-top: 2px solid #ff9466;
  border-right: 2px solid #ff9466;
  border-bottom: 2px solid #ff9466;
}
.header__menu1-link {
  font-size: 24px;
  text-align: center;
  color: #1d1e25;
}
.header__menu1-arrow {
  padding-top: 17px;
  padding-bottom: 30px;
}
.header__link {
  display: inline;
  margin-right: 101px;
  font-size: 16px;
  color: #fff;
}
.header__link:hover {
  color: #FF9466;
  transition: 0.2s;
}
.header__link a:hover {
  color: #FF9466;
  transition: 0.2s;
}
.header__hamburger {
  border: 1px soild red;
  width: 52px;
  height: 52px;
  display: block;
  background: transparent;
  border: transparent;
  z-index: 1000;
  transition: 0.5s;
  padding-top: 20px;
}
.header__hamburger span {
  display: block;
  width: 100%;
  height: 5.5px;
  background: #FF9466;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1882352941);
}
.header__hamburger span + span {
  margin-top: 11px;
}
.header__hamburger span:nth-child(1) {
  -webkit-animation: ease 0.5s top-back forwards;
          animation: ease 0.5s top-back forwards;
}
.header__hamburger span:nth-child(2) {
  -webkit-animation: ease 0.5s middle-back forwards;
          animation: ease 0.5s middle-back forwards;
}
.header__content {
  padding-top: 160px;
  padding-left: 112px;
}
.header__title {
  font-size: 40px;
  font-weight: 500;
  color: #e4e4e4;
}
.header__subtitle {
  padding-top: 40px;
  font-size: 20px;
  color: #e4e4e4;
  opacity: 50%;
}
.header__btn {
  padding-top: 40px;
}
.header__btn-link {
  padding: 7px 20px 8px 20px;
  color: #E4E4E4;
  width: 224px;
  height: 40px;
  border: 1px solid #ff9466;
}
.header__quality {
  padding-top: 82px;
  display: flex;
}
.header__quality-list li img {
  align-items: center;
  padding-bottom: 26px;
}
.header__quality-text {
  font-size: 15px;
  font-weight: 300;
  color: #E4E4E4;
  transform: translate(70px, -50px);
}

/* Активая меню и анимации при нажатии */
.active .header__menu1 {
  right: 0;
}
.active .header__hamburger {
  transform: translate(-190px, -90px);
  transition: 0.8s;
}
.active .header__hamburger span:nth-child(1) {
  -webkit-animation: ease 0.5s top forwards;
          animation: ease 0.5s top forwards;
}
.active .header__hamburger span:nth-child(2) {
  -webkit-animation: ease 0.5s middle forwards;
          animation: ease 0.5s middle forwards;
}
.active .header__hamburger span:nth-child(3) {
  -webkit-animation: ease 0.5s bottom forwards;
          animation: ease 0.5s bottom forwards;
}

/* Анимации burger-menu*/
@-webkit-keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes top-back {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes top-back {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@-webkit-keyframes middle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes middle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes middle-back {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes middle-back {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 19.5px;
    transform: rotate(-45deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 19.5px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes bottom-back {
  0% {
    bottom: 10px;
    transform: rotate(-45deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}
@keyframes bottom-back {
  0% {
    bottom: 10px;
    transform: rotate(-45deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}
.list {
  padding-top: 30px;
}
.list a {
  color: #E4E4E4;
}

/* Основная часть сайта */
.conten-main {
  margin-top: 1096px;
  color: #E4E4E4;
}
.conten-main__about-us-title {
  font-size: 64px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 87px;
}
.conten-main__about-us-content {
  display: flex;
}
.conten-main__about-us-subtitle {
  height: 220px;
  width: 592px;
  left: 112px;
  top: 1268px;
  border-radius: nullpx;
  font-size: 16px;
  font-weight: 300;
  margin-right: 46px;
  margin-left: 90px;
  padding-top: 60px;
}
.conten-main__about-us-subtitle p + p {
  margin-top: 32px;
}
.conten-main__about-us-subtitle span {
  color: #FF9466;
}
.conten-main__menu-title {
  font-size: 64px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 318px;
  margin-bottom: 78px;
}
.conten-main__menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.conten-main__menu-list p {
  padding-top: 12px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #e4e4e4;
}
.conten-main__menu-list p:hover {
  color: #FF9466;
  transition: 0.3s;
}
.conten-main__menu-list img {
  padding-top: 20px;
  text-align: center;
  border-radius: 50%;
}
.conten-main__menu-list img:hover {
  background: #FF9466;
  transition: 0.3s;
}

.content-bottom__merch-title {
  margin-top: 206px;
  font-size: 64px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.content-bottom__merch-text {
  margin-top: 22px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #e4e4e4;
}
.content-bottom__merch-text p {
  padding-bottom: 22px;
}
.content-bottom__adress-content {
  display: flex;
}
.content-bottom__adress-title {
  padding-top: 118px;
  padding-bottom: 66px;
  font-size: 64px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.content-bottom__adress-text {
  color: #E4E4E4;
  font-size: 24px;
  font-weight: 300;
  margin-top: 60px;
  margin-left: 96px;
  line-height: 29px;
}
.content-bottom__adress-text span {
  color: #FF9466;
}
.content-bottom__adress-text p + p {
  margin-top: 50px;
}
.content-bottom__adress-text p:nth-child(1) {
  line-height: 29px;
  width: 295px;
  height: 58px;
}
.content-bottom__adress-text p:nth-child(2) {
  font-weight: 500;
}
.content-bottom__btn {
  display: block;
  width: 72px;
  height: 72px;
  border: 2px solid #FF9466;
  border-radius: 50%;
  background: transparent;
  margin-top: 80px;
  text-align: center;
  margin-left: 1348px;
  transition: 0.3s;
}
.content-bottom__btn img {
  padding-top: 29px;
  transition: 0.3s;
}
.content-bottom__btn:hover img {
  padding-top: 0;
  transition: 0.3s;
}

.footer {
  margin-top: 24px;
}
.footer__menu {
  color: #E4E4E4;
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-top: 1px solid #FF9466;
  padding-bottom: 50px;
}
.footer__logo {
  padding-top: 20px;
}
.footer__copyright {
  padding-top: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
}
.footer__copyright-ortiz {
  margin-top: 20px;
}
.footer__copyright-ortiz-img {
  width: 72px;
  height: 72px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer__copyright-ortiz-link {
  color: #E4E4E4;
  border: 3px solid #FF9466;
  padding: 10px;
  border-radius: 4px;
}
.footer__copyright-ortiz-link span {
  font-size: 20px;
}
.footer__copyright-ortiz-link:hover {
  background: #FF9466;
  transition: 0.3s;
}
.footer__copyright-ortiz-link:hover span {
  color: #1D1E25;
  transition: 0.3s;
}
.footer__copyright-ortiz-link:active {
  background: transparent;
  transition: 0.3s;
}
.footer__copyright-ortiz-link:active span {
  color: #FF9466;
  transition: 0.3s;
}
.footer__number {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}