@import "nullstyle.scss"; //! Обнуляющий стиль!

$color1: #E4E4E4;
$color2: #1D1E25;
$color3: #FF9466;
$color4: #345F59;
$color5: #141414;

$border1: 1px solid red;
$border2: 1px solid blue;
$border3: 1px solid green;
$border4: 1px solid yellow;
$border5: 1px solid pink;


/* Основные параметры сайта */
body{
    font-family: 'Montserrat';
    margin-left: 13.5%;
    padding: 0 20px;
    background-color: #141414;
    max-width: 1440px;
    left: 1516px;
    top: -585px;
    border-radius: 0px;
}


body.lock{
    overflow: hidden;
}

/* Шапка сайта */
.header {
    .container{
        background-image: url('/assets/header/bg.png');
        width: 100%;
        position: absolute;
        width: 1440px;
        height: 952px;
        left: 13.5%;
        top: 0px;
        color: $color1;
    }

    &__menu {
        width: 100%;
        padding-top: 82px;
        display: flex;
        justify-content: space-around;
    }

    &__menu1 {
        position: fixed;
        width: 371px;
        height: 717.46px;
        right: -100%;
        top: 0;
        text-align: center;
        background: $color1;
        transition: right 0.5s ease;
        overflow: auto;
    }

    &__menu1-logo {
        padding-bottom: 27px;
        padding-left: 20px;
        transform: translateX(0px);
    }

    &__menu1-list {
        li{
            position: relative;
            top: 0;
            right: -76px;
            margin-bottom: 47px;
            width: 208px;
            height: 59px;
            padding-top: 13px;
            border-top: 2px solid #ff9466;
            border-right: 2px solid #ff9466;
            border-bottom: 2px solid #ff9466;
        }
    }

    &__menu1-link {
        font-size: 24px;
        text-align: center;
        color: #1d1e25;
    }

    &__menu1-arrow {
        padding-top: 17px;
        padding-bottom: 30px;
    }

    &__logo {
    }

    &__list{
        
    }

    &__link {
        display: inline;
        margin-right: 101px;
        font-size: 16px;
        color: #fff;

        &:hover{
            color: $color3;
            transition: 0.2s;
        }

        a{
            &:hover{
                color: $color3;
                transition: 0.2s;
            }
        }
    }

    &__hamburger {
        border: 1px soild red;
        width: 42px;
        height: 42px;
        display: block;
        background: transparent;
        border: transparent;
        z-index: 1000;
        transition: 0.5s;
        padding-top: 20px;
        
        span{
            display: block;
            width: 100%;
            height: 4.5px;
            background: $color3;
            position: relative;
            box-shadow: 0 2px 10px #00000030;
        }

        span + span{
            margin-top: 11px;
        }

        span:nth-child(1){
            animation: ease 0.5s top-back forwards;
        }

        span:nth-child(2){
            animation: ease 0.5s middle-back forwards;
        }
    }

    &__content{
        padding-top: 160px;
        padding-left: 112px; 
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        color: #e4e4e4;
    }

    &__subtitle {
        padding-top: 40px;
        font-size: 20px;
        color: #e4e4e4;
        opacity: 50%;
    }

    &__btn {
        padding-top: 40px;
    }

    &__btn-link {
        padding: 7px 20px 8px 20px;
        color: $color1;
        width: 224px;
        height: 40px;
        border: 1px solid #ff9466;
    }

    &__quality {
        padding-top: 82px;
        display: flex;
    }

    &__quality-list {
        li{

            img{
                align-items: center;
                padding-bottom: 26px;
            }
        }
    }

    &__quality-img {
    }

    &__quality-text {
        font-size: 15px;
        font-weight: 300;
        color: $color1;
        transform: translate(70px,-50px);
    }
}

/* Основная часть сайта */
.conten-main {
    margin-top: 1096px;
    color: $color1;

    &__about-us {
    }

    &__about-us-title {
        font-size: 64px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin-bottom: 87px;
    }

    &__about-us-content {
        display: flex;
    }

    &__about-us-subtitle {
        height: 220px;
        width: 592px;
        left: 112px;
        top: 1268px;
        border-radius: nullpx;        
        font-size: 16px;
        font-weight: 300;
        margin-right: 46px;
        margin-left: 90px;
        padding-top: 60px;

        p + p{
            margin-top: 32px;
        }

        span{
            color: $color3;
        }
    }

    &__about-us-image {
    }

    &__menu {
        
    }

    &__menu-title{
        font-size: 64px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin-top: 318px;
        margin-bottom: 78px;
    }

    &__menu-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        
        p{
            padding-top: 12px;
            text-align: center;
            font-size: 32px;
            font-weight: 500;
            color: #e4e4e4;

            &:hover{
                color: $color3;
                transition: 0.3s;
            }
        }

        img{
            padding-top: 20px;
            text-align: center;
            border-radius: 50%;

            &:hover{
                background: $color3;
                transition: 0.3s;
            }
        }
    }
}
.container {
}

.content-bottom {

    &__merch {
    }

    &__merch-title {
        margin-top: 206px;
        font-size: 64px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }

    &__merch-text {
        margin-top: 22px;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: #e4e4e4;

        p{
            padding-bottom: 22px;
        }
    }

    &__adress {
    }

    &__adress-content {
        display: flex;
    }

    &__adress-title {
        padding-top: 118px;
        padding-bottom: 66px;
        font-size: 64px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }

    &__adress-image {
    }

    &__adress-text {
        color: $color1;
        font-size: 24px;
        font-weight: 300;
        margin-top: 60px;
        margin-left: 96px;
        line-height: 29px;

        span{
            color: $color3;
        }

        p + p{
            margin-top: 50px;
        }

        p:nth-child(1){
            line-height: 29px;
            width: 295px;
            height: 58px;
        }

        p:nth-child(2){
            font-weight: 500;
        }
    }

    &__btn {
        display: block;
        width: 72px;
        height: 72px;
        border: 2px solid $color3;
        border-radius: 50%;
        background: transparent;
        margin-top: 80px;
        text-align: center;
        margin-left: 1348px;
        transition: 0.3s;

        img{
            padding-top: 29px;
            transition: 0.3s;
        }

        &:hover{
            img{
                padding-top: 0;
                transition: 0.3s;
            }
        }
    }
}
.container {
}

.footer {
    margin-top: 24px;


    &__menu {
        color: $color1;
        display: flex;
        text-align: center;
        justify-content: space-around;
        border-top: 1px solid $color3;
        padding-bottom: 50px;
    }

    &__logo {
        padding-top: 20px;
    }

    &__copyright {
        padding-top: 40px;
        font-size: 16px;
        line-height: 20px;
        color: #c4c4c4;
    }

    &__copyright-cafe {
    }

    &__copyright-ortiz {
        margin-top: 20px;
        
    }

    &__copyright-ortiz-img{
        width: 72px;
        height: 72px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__copyright-ortiz-link {
        color: $color1;
        border: 3px solid $color3;
        padding: 10px;
        border-radius: 4px;

        span{
            font-size: 20px;
        }

        &:hover{
            background: $color3;
            transition: 0.3s;

            span{
                color: $color2;
                transition: 0.3s;
            }
        }

        &:active{
            background: transparent;
            transition: 0.3s;

            span{
                color: $color3;
                transition: 0.3s;
            }
        }
    }

    &__number {
        padding-top: 40px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
    }
}
.container {
}

.container {
}
.list {

    padding-top: 30px;

    a{
        color: $color1;
    }
}
/* Карта напитков */

.map {

    &__body {
        position: absolute;
        width: 1216px;
        height: 1024px;
        left: 18.5%;
        top: 0px;
    }

    &__title {
        width: 1216px;
        height: 140px;
        background: url('/assets/menu/bg.png');
        h1{
            padding-top: 40px;
            font-size: 48px;
            text-align: center;
            color: #e4e4e4;
        }
    }

    &__menu {
        position: absolute;
        width: 1214px;
        height: 880px;
        left: 0px;
        top: 100px;        
        background: $color1;  
    }

    &__menu-body {
        display: flex;
    }

    &__menu-body-left{
        
    }

    &__menu-body-right{
        
    }

    &__drinks {
    }

    &__drinktitle{
        font-size: 20px;
        color: #1d1e25;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        margin-bottom: 31px;
        padding: 13px 65px;
        border-top: 2px solid $color3;
        border-right: 2px solid $color3;
        border-bottom: 2px solid $color3;
    }

    &__drinksname {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 8px;
        color: #1D1E25;
    }

    .drinksname4{
        padding: 0;
    }

    .drinksprice {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
    }

    &__drinksprice1{
        position: relative;
        top: -96px;
        left: 0;
        padding-bottom: 8px;
    }

    &__drinksprice2{
        position: relative;
        top: -202px;
        left: 0;

        &:nth-child(9){
            padding-bottom: 36px;
        }

        &:nth-child(12){
            padding-bottom: 8px;
        }

        &:nth-child(13){
            padding-bottom: 8px;
        }
    }

    &__drinksprice3{
        position: relative;
        top: -130px;
        left: 0;
        padding-bottom: 8.5px;
    }

    &__drinksprice4{
        position: relative;
        top: -229px;
        left: 0;
        padding-bottom: 5px;

        &:nth-child(14){
            padding-top: 0px;
        }
    }

    &__drinksprice5{
        position: relative;
        top: -160px;
        left: 0;
        padding-bottom: 8px;
    }

    &__drinksprice6{
        position: relative;
        top: -100px;
        left: 0;
        padding-bottom: 8px;    
    }

    .drinksalt{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1D1E25;
        padding-bottom: 8px;
        background: url('/assets/menu/Line.png') left no-repeat;
        padding-left:38px;
        padding-bottom: 0;
    }

    &__drinksalt1{
        &:nth-child(6){
            padding-bottom: 8px;
        }
    }

    &__drinksalt2{

        &:nth-child(6){
            padding-bottom: 4px;
        }

        &:nth-child(7){
            padding-bottom: 4px;
        }

        &:nth-child(8){
            padding-bottom: 4px;
        }
    }

    &__menu-body-list1 {
        position: absolute;
        width: 416px;
        height: 178px;
        left: 104px;
        top: 24px;
    }

    &__menu-body-list2 {
        position: absolute;
        width: 416px;
        height: 290px;
        left: 104px;
        top: 256px;
    }

    &__menu-body-list3 {
        position: absolute;
        width: 416px;
        height: 210px;
        left: 104px;
        top: 599px;
        
    }

    &__menu-body-list4 {
        position: absolute;
        width: 416px;
        height: 322px;
        left: 708px;
        top: 24px;
    }

    &__menu-body-list5 {
        position: absolute;
        width: 416px;
        height: 242px;
        left: 708px;
        top: 370px;
    }

    &__menu-body-list6 {
        position: absolute;
        width: 416px;
        height: 178px;
        left: 708px;
        top: 636px;
    }
}
.container {
}


/* Активая меню и анимации при нажатии */
.active{
    .header__menu1{
        right: 0;
    }

    .header__hamburger{
        transform: translate(-45px,-95px);
        transition: 0.8s;

        span:nth-child(1){
            animation: ease 0.5s top forwards;
        }

        span:nth-child(2){
            animation: ease 0.5s middle forwards;
        }

        span:nth-child(3){
            animation: ease 0.5s bottom forwards;
        }
    }
}

/* Анимации burger-menu*/

@keyframes top{

    0%{
        top: 0;
        transform: rotate(0);
    }

    50%{
        top: 10px;
        transform: rotate(0);
    }

    100%{
        top: 10px;
        transform: rotate(45deg);
    }
}

@keyframes top-back{

    0%{
        top: 10px;
        transform: rotate(45deg);
    }

    50%{
        top: 10px;
        transform: rotate(0);
    }

    100%{
        top: 0;
        transform: rotate(0);
    }
}

@keyframes middle{

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0);
    }

    100%{
        transform: scale(0);
    }
}

@keyframes middle-back{

    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes bottom{

    0%{
        bottom: 0;
        transform: rotate(0);
    }

    50%{
        bottom: 10px;
        transform: rotate(0);
    }

    100%{
        bottom: 20.9px;
        transform: rotate(-45deg);
    }
}

@keyframes bottom-back{

    0%{
        bottom: 10px;
        transform: rotate(-45deg);
    }

    50%{
        bottom: 10px;
        transform: rotate(0);
    }

    100%{
        bottom: 0px;
        transform: rotate(0);
    }
}



